# Created by .ignore support plugin (hsz.mobi)

.idea
project/target/config-classes/
project/target/scala-2.10/sbt-0.13/resolution-cache/default/omegaproejct-scala-build/
project/target/scala-2.10/sbt-0.13/resolution-cache/reports/default-omegaproejct-scala-build-compile-internal.xml
project/target/scala-2.10/sbt-0.13/resolution-cache/reports/default-omegaproejct-scala-build-compile.xml
project/target/scala-2.10/sbt-0.13/resolution-cache/reports/default-omegaproejct-scala-build-docs.xml
project/target/scala-2.10/sbt-0.13/resolution-cache/reports/default-omegaproejct-scala-build-optional.xml
project/target/scala-2.10/sbt-0.13/resolution-cache/reports/default-omegaproejct-scala-build-plugin.xml
project/target/scala-2.10/sbt-0.13/resolution-cache/reports/default-omegaproejct-scala-build-pom.xml
project/target/scala-2.10/sbt-0.13/resolution-cache/reports/default-omegaproejct-scala-build-provided.xml
project/target/scala-2.10/sbt-0.13/resolution-cache/reports/default-omegaproejct-scala-build-runtime-internal.xml
project/target/scala-2.10/sbt-0.13/resolution-cache/reports/default-omegaproejct-scala-build-runtime.xml
project/target/scala-2.10/sbt-0.13/resolution-cache/reports/default-omegaproejct-scala-build-scala-tool.xml
project/target/scala-2.10/sbt-0.13/resolution-cache/reports/default-omegaproejct-scala-build-sources.xml
project/target/scala-2.10/sbt-0.13/resolution-cache/reports/default-omegaproejct-scala-build-test-internal.xml
project/target/scala-2.10/sbt-0.13/resolution-cache/reports/default-omegaproejct-scala-build-test.xml
project/target/streams/compile/incCompileSetup/
target/scala-2.12/resolution-cache/omega-project-scala/
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala$sources_2.12-compile-internal.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala$sources_2.12-compile.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala$sources_2.12-docs.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala$sources_2.12-optional.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala$sources_2.12-plugin.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala$sources_2.12-pom.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala$sources_2.12-provided.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala$sources_2.12-runtime-internal.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala$sources_2.12-runtime.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala$sources_2.12-scala-tool.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala$sources_2.12-sources.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala$sources_2.12-test-internal.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala$sources_2.12-test.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala_2.12-compile-internal.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala_2.12-compile.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala_2.12-docs.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala_2.12-optional.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala_2.12-plugin.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala_2.12-pom.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala_2.12-provided.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala_2.12-runtime-internal.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala_2.12-runtime.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala_2.12-scala-tool.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala_2.12-sources.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala_2.12-test-internal.xml
target/scala-2.12/resolution-cache/reports/omega-project-scala-omega-project-scala_2.12-test.xml
target/scala-2.12/test-classes/
